# Large data files
data/

# Keep folder structure
!data/.gitkeep
!data/*/README.md

# Model outputs
runs/
checkpoints/
*.pth
*.pt
*.ckpt

# Logs
# logs/
*.log
wandb/

# Environments
__pycache__/
*.pyc
*.egg-info/
.ipynb_checkpoints/

# External repos
# repos/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

*.mid
notebooks/xLSTM/generated_music/

# MuseScore Studio binaries and installers
MuseScore-Studio*
*.AppImage
*.dat
musescore/

assets/
temp/

repos/midi-miner/*_model

evaluation/results/
evaluation/bar_ssm_outputs/